:root {
  --background: #fff;
  --primary: #1f53ee;
  --secondary: #fdfdfd;
  --text: #000000;
  --shadow: #a4a0a0;
  --header: #0f6ef4;
}

[data-theme="dark"] {
  --background: #373636;
  --primary: #5bc3ef;
  --secondary: #d5dae9;
  --text: #efe4e4;
  --header: #2c2727;
  --shadow: #574d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
