:root {
  --background: #fff;
  --primary: #1f53ee;
  --secondary: #fff;
  --text: #000000;
  --shadow: #aaaaaa;
}

[data-theme="dark"] {
  --background: #373636;
  --primary: #513f93;
  --secondary: #1f53ee;
  --text: #efe4e4;
  --shadow: rgb(120, 112, 112);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
